.header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo-png {
    height: 30px;
    width: auto;
    border-radius: 50%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .nav-link:hover {
    color: #fff;
    background-color: #1270FD;
    border-radius: 5px;
  }
  